/*INITIAL SETUP*/
@font-face {
    font-family: "Voyager";
    src: url("../fonts/Voyager-Regular.woff2") format("woff2 supports variations"),
    url("../fonts/Voyager-Regular.woff2") format("woff2-variations");
}
@font-face {
    font-family: "Twinkle Script";
    src: url("../fonts/TwinkleScriptVF.woff2") format("woff2 supports variations"),
    url("../fonts/TwinkleScriptVF.woff2") format("woff2-variations");
}
@font-face {
    font-family: "Spring Script";
    src: url("../fonts/SpringScriptVF.woff2") format("woff2 supports variations"),
    url("../fonts/SpringScriptVF.woff2") format("woff2-variations");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --background-color: #fbfbfb;
    --text-primary: #272727;
    --text-secondary: #737373;
    --ff-text: "neue-haas-unica", "Arial", sans-serif;
    --margin: 1.5rem;
    --font-size: 0.86rem;
    --line-height: 1.05rem;
    /*for variable fonts*/
    --axis-star: 100;
    --axis-rota: 0;
    --axis-size: 50;
    --axis-stre: 50;
    --voyager-size: 50px;
}

.dark-theme {
    --background-color: #090909;
    --text-primary: #e8e8e8;
}

body {
    background-color: var(--background-color);
    color: var(--text-primary);
}

.fade-in {
    animation: fade-in 2s ease;
    -webkit-animation: fade-in 2s ease;
    -moz-animation: fade-in 2s ease;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

h1, h2, h3 {
    font-size: var(--font-size);
    font-weight: 400;
    line-height: var(--line-height);
    margin: 0;
}

p, figcaption {
    font-size: var(--font-size);
    margin-bottom: var(--margin);
}

.display {
    font-weight: 500;
}

.text, .display {
    font-family: var(--ff-text);
    font-size: var(--font-size);
    line-height: var(--line-height);
}

figcaption {
    font-family: var(--ff-text);
    font-size: calc(var(--font-size) - 0.1rem);
    margin-top: calc(var(--line-height)/4);
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

.link:hover, .info-toggle:hover, .nav-item:hover, .proj-wrapper:hover, .theme-toggle:hover, .tag:hover, .up:hover, .close:hover {
    opacity: 65%;
    transition: 0.25s ease;
}

hr {
    border: none;
    border-top: 1px solid var(--text-primary);
    margin: 0 0 var(--margin);
}

img, video {
    margin-bottom: calc(var(--margin)/2);
}

.proj-media > img, .proj-media > video, .flex-wrapper > img, .flex-wrapper > div > img, .flex-wrapper > div > video, .flex-wrapper > video, .grid-2 > img, .grid-3 > img, .grid-2 > video, .grid-3 > video {
    cursor: zoom-in;
}

/*HEADER*/

.header, .header-more {
    width: 100%;
    top: 0;
    position: fixed;
}

.header {
    z-index: 10;
}

.header-more {
    background-image: linear-gradient(180deg, var(--background-color) 80%, transparent);
    max-height: calc(var(--line-height) + 2*var(--margin));
    z-index: 9;
    transition: 0.8s ease;
}

.more-wrapper {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}

.header-more_active {
    max-height: 100vh;
}

.more-wrapper_active {
    visibility: visible;
    opacity: 1;
    overflow: scroll;
}

.info-wrapper, .info-full {
    grid-column: 1 / 5;
}

.info-toggle, .prev {
    cursor: pointer;
    grid-column-start: 5;
}

.name, .info {
    display: inline-block;
    margin: 0;
}

.info {
    transition: 0.25s ease;
}


.nav, .experience, .next {
    grid-column: 9 / 11;
}

.contact, .profile-wrapper {
    grid-column: 11 / 13;
}

.contact {
    grid-row: 1 / 2;
}

.profile-wrapper {
    padding-bottom: calc(5*var(--margin));
}

.contact-mobile {
    display: none;
}

/*FOOTER*/

.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-image: linear-gradient(0deg, var(--background-color) 80%, transparent);
}

.tag, .up {
    display: inline-block;
    cursor: pointer;
}

.up {
    margin-bottom: calc(0.5*var(--margin));
    grid-column-end: 13;
    justify-self: end;
    align-self: end;
}

.theme-toggle {
    grid-column-end: 13;
    justify-self: end;
}

.greeting-tag, .home {
    grid-column: 1 / 3;
}


/*MAIN CONTENT*/

main {
    padding-top: calc(var(--line-height) + 2.5*var(--margin));
}

.work-wrapper, .header, .more-wrapper, .footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--margin);
    padding: var(--margin);
}

.work-wrapper {
    padding-top: 0;
    padding-bottom: calc(2.5*var(--margin));
}

.proj-wrapper {
    grid-column: span 4;
}

.cover, .iframe-wrapper {
    border-radius: 10px;
    overflow: hidden;
}

.proj-text {
    position: fixed;
    width: calc(((100vw - var(--margin)) / 3) - var(--margin));
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--margin);
}

.proj-title, .proj-details {
    grid-column: span 2;
}

.proj-media {
    grid-column: 5 / 13;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
}

.grid-2 {
    grid-column: span 6;
}

.grid-3 {
    grid-column: span 4;
}

/*IMAGE MODAL*/

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(251, 251, 251, 0.8);
    animation: fade-in 0.3s ease-in-out;
    z-index: 20;
}

.modal img, .modal video {
    width: 100%;
    max-width: 90vw;
    height: auto;
    max-height: 85vh;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: var(--margin);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


/*TYPE DEMO*/

.voyager {
    font-family: "Voyager";
    font-size: var(--voyager-size);
}

.twinkle-script {
    font-family: "Twinkle Script";
    font-variation-settings: "STAR" var(--axis-star), "ROTA" var(--axis-rota), "SIZE" var(--axis-size);
    font-size: 6rem;
    text-align: center;
}

.spring-script {
    font-family: "Spring Script";
    font-variation-settings: "STRE" var(--axis-stre);
    font-size: 6rem;
    text-align: center;
}

.demo-wrapper, .slider-wrapper {
    margin-bottom: var(--margin);
}

.demo-text {
    display: block;
    outline: 0px solid transparent;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 1px;
    background-color: var(--text-primary);
    width: 100%;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%; 
    background: var(--text-primary);
    cursor: pointer;
}
  
  .slider::-moz-range-thumb {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%; 
    background: var(--text-primary);
    cursor: pointer;
}

/*MEDIA QUERIES*/

@media(max-width: 1350px) {

    /*MAIN CONTENT*/

    .proj-wrapper {
        grid-column: span 6;
    }

    .proj-text, .proj-media {
        position: static;
        width: calc(100vw - 2*var(--margin));
        grid-column: 1 / 13;
    }

    .info-wrapper, .info-toggle, .nav, .contact {
        grid-row: 1 / 2;
    }

    .info-wrapper, .info-full {
        grid-column: 1 / 7;
    }

    .info {
        display: none;
    }

    .info-toggle, .prev {
        grid-column: 4 / 7;
    }

    .nav, .experience, .next {
        grid-column: 7 / 10;
    }

    .contact, .profile-wrapper {
        grid-column: 10 / 13;
    }

    .grid-3 {
        grid-column: span 6;
    }

    /*TYPE DEMO*/

    .twinkle-script, .spring-script {
        font-size: 3rem;
    }

    /*FOOTER*/

    .theme-toggle {
        grid-column: 10 / 13;
    }

}

@media(max-width: 768px) {

    /*HEADER*/
    .info-toggle {
        grid-column: 5 / 9;
        justify-self: start;
        grid-row: 1 / 2;
    }

    .nav {
        grid-column-end: 13;
        justify-self: end;
        grid-row: 1 / 2;
    }

    .contact {
        display: none;
    }

    .contact-mobile {
        display: block;
    }

    .info-full, .experience, .contact-mobile, .profile-wrapper {
        grid-column: span 12;
        grid-row: auto;
    }

    .profile-wrapper {
        padding-bottom: calc(10*var(--margin));
    }
        
    /*FOOTER*/

    .directions {
        display: none;
    }

    .theme-toggle {
        grid-column: 7 / 13;
    }

    .greeting-tag, .home {
        grid-column: 1 / 7;
    }


    /*MAIN CONTENT*/

    .proj-wrapper {
        grid-column: span 12;
    }

    .grid-2, .grid-3 {
        grid-column: span 12;
    }

}